<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em">
    <h3 class="text-center">Login</h3>
    <form action="/login" method="POST">
      <div class="form-group offset-md-5">
        <label for="email" class="col-form-label">Email</label>
        <input
          class="form-control col-4"
          type="email"
          name="email"
          id="email"
        />
      </div>
      <div class="form-group offset-md-5">
        <label for="password" class="col-form-label">Password</label>
        <input
          class="form-control col-4"
          type="password"
          name="password"
          id="password"
        />
      </div>
      <div class="form-group offset-md-5">
        <input class="btn btn-primary" type="submit" value="Login" />
      </div>
      <p>Don't have an account? Register <a href="/register">here!</a></p>
    </form>
  </main>
</body>
